<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://wubookstore.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>wubookstore.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>wubookstore</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$wubookstore</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="BookStoreEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=aqaefhk01c.database.windows.net;Initial Catalog=bookstore;Persist Security Info=True;User ID=hengfu;Password=chemiSTRY007" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="BookStoreWithImage.Models.BookStoreEntities, BookStoreWithImage" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BookStoreEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.BookStoreModel.csdl|res://*/Models.BookStoreModel.ssdl|res://*/Models.BookStoreModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=aqaefhk01c.database.windows.net;Initial Catalog=bookstore;Persist Security Info=True;User ID=hengfu;Password=chemiSTRY007"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>